body {
  margin      : 0;
}
  
.qsd td {
  margin      : 1px;
  padding       : 1px;
  width : auto;
}
  
  /* The Navigation Bar */
.navbar {
  overflow      : hidden;
  background-color  : orange;
  position      : fixed;/* Set the navbar to fixed position */
  top         : 0;/* Position the navbar at the top of the page */
  width       : 100%;/* Full width */
}
  
  /* Links inside the navbar */
a {
  /*float       : center;
  text-align    : center;
  display       : block;
  padding       : 14px 16px;*/
  color       : #ddd;
  text-decoration   : none;
}
  
  /* Change background on mouse-over */
.navbar a:hover {
  background    : #eee;
  color       : black;
}
  
input[type=search] {
margin-right: 6px;
  width       : 120px;
  -webkit-transition: width 0.4s ease-in-out;
  transition    : width 0.4s ease-in-out;
}
input[type=search]:focus {
  width       : 50%;
}
  
  /* Main content */
.main {
  padding       : 10px;
  margin-top    : 30px; /*Add top margin to avoid overlay */
}
  
.accordion {
  background-color  : #eee;
  color       : #444;
  cursor      : pointer;
  padding       : 10px;
  width       : 100%;
  border      : none;
  text-align    : right;
  outline       : none;
  transition    : 0.6s;
  display       : block;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration:0.4s;
}
  
.active, .accordion:hover {
  background-color:#4CAF50; /* Green */
  color: white;
  /*background-color  : #ccc;*/
}
  
.panel {
  padding       : 0 10px;
  display       : none;
  background-color  : white;
  /*max-height    : 0;*/
  overflow      : hidden;
  /*transition    : max-height 0.4s ease-out;*/
}
  
.accordion:after {
  content       : '\02795';
  color       : #777;
  float       : left;
  margin-right    : 5px;
}
  
.active:after {content:'\02796';}
  
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  color: white;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  /*font-size: 25px;*/
  color: #818181;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 3px;
  font-size: 36px;
  /*margin-left: 50px;*/
}

@media screen and (max-height:450px) {
  .sidenav {padding-top:15px;}
  .sidenav a {font-size: 18px;}
}
.clrContainer {
  display: none;
  height: 200;
  width: 200;
  position: absolute
  right: 2px;
  z-index: 1;}
.modal { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); opacity: 0; visibility: hidden; transform: scale(1.1); transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; } .modal-content { overflow-y: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 1rem 1.5rem; max-height:80%;width: 80%/*24rem*/; border-radius: 0.5rem; } .close-button { float: right; width: 1.5rem; line-height: 1.5rem; text-align: center; cursor: pointer; border-radius: 0.25rem; background-color: lightgray; } .close-button:hover { background-color: darkgray; } .show-modal { opacity: 1; visibility: visible; transform: scale(1.0); transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; } 	
.footer{
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  background-color : green;
  color : yellow;
  text-align : center;
}
.btn {
    background-color:#4CAF50; /* Green */
    border: none;
    color: white;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
.qsd{ -webkit-touch-callout: none; /* iOS Safari */ -webkit-user-select: none; /* Safari */ -khtml-user-select: none; /* Konqueror HTML */ -moz-user-select: none; /* Firefox */ -ms-user-select: none; /* Internet Explorer/Edge */ user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */ }

.accordion{ -webkit-touch-callout: none; /* iOS Safari */ -webkit-user-select: none; /* Safari */ -khtml-user-select: none; /* Konqueror HTML */ -moz-user-select: none; /* Firefox */ -ms-user-select: none; /* Internet Explorer/Edge */ user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */ }